<h1>Veillez confirmer votre email!</h1>

<p>
    Confirmez votre adresse mail à travers de ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation Email</a>.
    Votre session expire dans{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


