{% extends 'base.html.twig' %}

{% block title %}Bienvenue à la Page contact {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}


.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
h1{
    justify-content : center;
    display : flex;
    align-content: center;
    
  
}
   form {
  background-color: linear-gradient(100deg,red 50%,black 50% );
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #aaa;
  text-align: center;
}

label {
 font-weight: bold;
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background: linear-gradient(115deg,#323131  10%,red 90%);
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}


input[type="submit"]:hover {
  
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}


</style>
*/

<div class:"titre"> 
   <h1><button data-text="Awesome" class="button">
    <span class="actual-text">&nbsp;Contact&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Contact&nbsp;</span>
</button></h1>
</div>
 <div>
  {{form(form)}}
 </div>
<!--<form>
  <label class="text-white" for="name">Nom:</label>
  <input type="text" id="name" name="name" required>
  <br>
  
  <label class="text-white" for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <br>
  
  <label class="text-white" for="message">Message:</label>
  <textarea id="message" name="message" required></textarea>
  <br>
  
  <input type="submit" value="Envoyer"  >
</form>-->

{% endblock %}
